# /etc/aliases
mailer-daemon: postmaster
postmaster: root
nobody: root
hostmaster: root
usenet: root
news: root
webmaster: root
www: root
ftp: root
abuse: root
noc: root
security: root
root: {{exim4_root_email}}
{% if exim4_aliases is defined %}{% for alias in exim4_aliases %}
{{alias.name}}: {{alias.addresses|join(', ') }}
{% endfor %}{% endif %}
