# Sign sent mails with DKIM.
DKIM_CANON = relaxed
DKIM_DOMAIN = ${sender_address_domain}
DKIM_FILE = CONFDIR/${lc:${sender_address_domain}}.{{exim4_dkim_selector}}.dkim.private.key
DKIM_PRIVATE_KEY = ${if exists{DKIM_FILE}{DKIM_FILE}{0}}
DKIM_SELECTOR = ${extract{-4}{.}{DKIM_PRIVATE_KEY}}
