{% if exim4_enable_dkim %}
# Sign sent mails with DKIM.
DKIM_CANON = relaxed
DKIM_DOMAIN = ${sender_address_domain}
DKIM_FILE = CONFDIR/dkim/${lc:${sender_address_domain}}.{{ exim4_dkim_selector }}.dkim.private.key
DKIM_PRIVATE_KEY = ${if exists{DKIM_FILE}{DKIM_FILE}{0}}
DKIM_SELECTOR = ${extract{-4}{.}{DKIM_PRIVATE_KEY}}
{% endif %}

{% if exim4_primary_hostname != inventory_hostname %}
# Override primary hostname.
MAIN_HARDCODE_PRIMARY_HOSTNAME = {{ exim4_primary_hostname }}
{% endif %}

{% if exim4_enable_tls %}
# Enable TLS.
MAIN_TLS_ENABLE = true
{% endif %}

{% if exim4_log_to_syslog %}
log_file_path = syslog
{% endif %}

{% if exim4_is_smarthost %}
# Smarthost server configuration, allow mail from satellites.
# 'Authenticate' with client certificates.

RELAY_FROM_CERTS = {{ exim4_smarthost_relay_hashes | join(' : ') }}

MAIN_TLS_TRY_VERIFY_HOSTS = *
MAIN_TLS_CERTIFICATE = {{ exim_certificate_path }}
MAIN_TLS_PRIVATEKEY = {{ exim_certificate_key_path }}
{% endif %}

{% if exim4_use_client_certificates %}
# Satellite configuration, relay all mail to smarthost.
# 'Authenticate' with client certificates.
# Only use encrypted connection.

REMOTE_SMTP_SMARTHOST_TLS_CERTIFICATE = {{ exim_certificate_path }}
REMOTE_SMTP_SMARTHOST_PRIVATEKEY = {{ exim_certificate_key_path }}
REMOTE_SMTP_SMARTHOST_HOSTS_REQUIRE_TLS = *
{% endif %}

{% if exim4_ignore_smtp_line_length_limit %}
IGNORE_SMTP_LINE_LENGTH_LIMIT = true
{% endif %}

{% if exim4_smtp_accept_queue_per_connection is defined %}
smtp_accept_queue_per_connection = {{ exim4_smtp_accept_queue_per_connection }}
{% endif %}

{% if exim4_queue_run_max is defined %}
queue_run_max = {{ exim4_queue_run_max }}
{% endif %}

{% if exim4_remote_max_parallel is defined %}
remote_max_parallel = {{ exim4_remote_max_parallel }}
{% endif %}
